
footer {
    background: linear-gradient(#a87cd4, #44428c);
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: auto;
}

#logofooter {
    width: 260px;
}
.conteudogeral {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.conteudo1 p{
    word-wrap: break-word;
}
.conteudo2,
.conteudo3,
.social-icons,
.social-icon {
    flex: 1;
    margin: 10px;
    color: #fff;
    word-wrap: break-word;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.social-icon img {
    width: 100%;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom: 5px;
}

.linksfooter {
    display: block;
    justify-content: justify;
    color: #fff;
}

.linksfooter li {
    text-align: justify;
    margin-left: 127px;
}

.linksfooter:hover {
    color: white;

}

.linkemail {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.linkemail:hover {
    color: darkgray;
}

.linksimportantes {
    color: #fff;
    text-decoration: none;
    justify-content: justify;

}

.linksimportantes:hover {
    color: darkgray;
}
